.app-checkbox {
	position: relative;
	display: flex;
	align-items: center;
	padding-left: 24px;
	min-width: 16px;
	min-height: 16px;
	line-height: 16px;
	margin-bottom: 15px;
	input {
		margin-bottom: 0;
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
		&:checked ~ .checkmark {
			background-color: var(--primary);
			border-color: var(--primary);
			&:after {
				opacity: 1;
			}
		}
	}
	label {
		margin-bottom: 0;
	}
	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 16px;
		width: 16px;
		border-radius: 3px;
		border: 1px solid var(--grey);
		background-color: #fff;
		&:after {
			content: "";
			width: 12px;
			height: 7px;
			border-left: 2px solid #fff;
			border-bottom: 2px solid #fff;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%) rotate(-43deg);
			opacity: 0;
		}
	}
}
