/* Fade in */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease-in;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* Fade in Left */
.fadeLeft-enter-active {
  transition: transform 0.25s ease-out,opacity 0.25s ease-out;
}
.fadeLeft-leave-active {
  transition: transform 0.25s cubic-bezier(1, 0.5, 0.8, 1),opacity 0.25s cubic-bezier(1, 0.5, 0.8, 1);
}
.fadeLeft-enter-from,
.fadeLeft-leave-to {
  transform: translatex(15px);
  opacity: 0;
}

/* Fade in Up */
.fadeUp-enter-active,
.fadeUp-leave-active {
  transition: transform 0.25s ease-out,opacity 0.25s ease-out;
}
.fadeUp-enter-from,
.fadeUp-leave-to {
  opacity: 0;
  transform: translateY(100%);
}

/* Fade in Up Tab*/
.fadeUpTab-enter-active {
  transition: all 0.3s ease-out;
}
.fadeUpTab-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.fadeUpTab-enter-from,
.fadeUpTab-leave-to {
  transform: translateY(15px);
  opacity: 0;
}

/* Fade in Up Tab*/
.fadeIn-enter-active {
  transition: all 0.25s ease-out;
}
.fadeIn-leave-active {
  transition: all 0.25s cubic-bezier(1, 0.5, 0.8, 1);
}
.fadeIn-enter-from,
.fadeIn-leave-to {
  transform: scale(0.5);
  opacity: 0;
}

/* Sidein */
.slidedown-enter-active {
  transition: all 0.3s ease-in;
}
.slidedown-leave-active {
  transition:  all 0.2s ease-out;
}
 
.slidedown-enter-to,
.slidedown-leave-from {
  overflow: hidden;
  max-height: 1000px;
}

.slidedown-enter-from,
.slidedown-leave-to {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
}

/*  Scale */
.scale-enter-active,
.scale-leave-active {
  transform-origin: top;
  transition: transform 0.25s ease;
}

.scale-enter-to,
.scale-leave-from {
  transform: scaleY(1);
}

.scale-enter-from,
.scale-leave-to {
  transform: scaleY(0);
}

/* Menu Left */
.menu-left-enter-active {
  transition: transform 0.25s ease-out,opacity 0.25s ease-out;
}
.menu-left-leave-active {
  transition: transform 0.25s cubic-bezier(1, 0.5, 0.8, 1),opacity 0.25s cubic-bezier(1, 0.5, 0.8, 1);
}
.menu-left-enter-from,
.menu-left-leave-to {
  transform: translatex(-100%);
  opacity: 0;
}

/* infinite-rotate */

@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
