:root {
  /* Font Family */

  --font-family: "Tajawal", sans-serif;

  /* Primary */
  --primary: #00d9c8;
  --primary-tint: #afebe7;
  --primary-shade: #06c2aa;
  --primary-contrast: #fff;

  /* Success */
  --success: #2dd36f;
  --success-shade: #28ba62;
  --success-tint: #d0ffe2;
  --success-contrast: #fff;

  /* warning */
  --warning: #ffc409;
  --warning-shade: #e0ac08;
  --warning-tint: #fff2ca;
  --warning-contrast: #000000;

  /* danger */
  --danger: #f25a2b;
  --danger-shade: #d54f26;
  --danger-tint: #fef2ee;
  --danger-contrast: #fff;

  /* info */
  --info: #4ca0c7;
  --info-shade: #36728e;
  --info-tint: #d9f1fd;
  --info-contrast: #fff;

  /* Black */
  --black: #000;

  /* Dark */
  --dark: #707070;

  /* Medium */
  --medium: #bbbbbb;

  /* Light */
  --light: #f7fffe;

  /* Grey */
  --grey: #e9e9e9;

  /* White */
  --white: #fff;

  /* Text Color */
  --text-color: #9ea7b8;

  /* bg Grey */
  --bg-grey: #f4f8ff;

  /* bg Grey */
  --bg-grey-2: #f4f4f4;

  /* White */
  --bg-white: #fff;

  --border-radius:6px;
}
