*,
*::before,
*::after {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -o-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}
body {
  font-family: var(--font-family);
  color: var(--black);
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.0156rem;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

a,
a:hover {
  text-decoration: none;
}

a {
  color: var(--black);
  transition: 0.3s ease;
  &:hover {
    text-decoration: none;
  }
}
img{
  width: 100%;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

html > body svg {
  height: auto;
}
input,
textarea,
button,
select,
body,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
  border: 1px solid var(--light);
  margin-bottom: 24px;
  border-radius: 8px;
}

.app {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}
