h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: var(--font-family);
  color: var(--black);
  line-height: 1.4;
  margin: 0 0 0.4375rem;
}
.h1,
h1 {
  font-size: 1.1875rem;
  font-weight: 600;
}

.h2,
h2 {
  font-size: 1.25rem;
  font-weight: 600;
}
.h3,
h3 {
  font-size: 18px;
  font-weight: 500;
}
.h4,
h4 {
  font-size: 1rem;
  font-weight: 500;
}
.h5,
h5 {
  font-size: 0.875rem;
  font-weight: 400;
}

.h6,
h6 {
  font-size: 0.75rem;
  font-weight: 400;
}

p {
  font-family: var(--font-family);
  color: var(--text-color);
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 0.25rem;
}

strong,
b {
  font-weight: bold;
}
