.or {
	margin-bottom: 2rem;
	margin-top: 2.75rem;
	color: var(--secondary);
	line-height: 1.25rem;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	display: flex;
	position: relative;
	hr {
		width: 100%;
		border: none;
		border-top: 1px solid var(--light);
	}
	span {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 0 14px;
		font-size: 0.9375rem;
		font-weight: 700;
		background-color: var(--white);
	}
}

.text-center{
	text-align: center;
}