.alert{
   &.success {
    color: var(--success);
    background-color: var(--success-tint);
    svg {
      fill: var(--success);
    }
    a,
    mark {
      color: var(--success-shade);
    }
  }
  &.warning {
    color: var(--warning);
    background-color: var(--warning-tint);
    svg {
      fill: var(--warning);
    }
    a,
    mark {
      color: var(--warning-shade);
    }
  }
  &.info {
    color: var(--info);
    background-color: var(--info-tint);
    svg {
      fill: var(--info);
    } 
  }
  &.danger {
    color: var(--white);
    background-color: var(--danger);
    svg {
      fill: var(--danger);
    }
    a,
    mark {
      color: var(--danger-shade);
    }
  }
}