.app-avatar{
  width: 65px;
  height: 65px;  
  border-radius: 50%;
  display: inline-flex; 
  align-items: center;
  overflow: hidden;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}