.app-badge {
  display: inline-block;
  padding: 6px 8px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 15px;
  line-height: 1;
  &.pending {
    color: var(--warning-contrast);
    background: var(--warning);
  }
  &.completed {
    color: var(--success-contrast);
    background: var(--success);
  }
  &.processing {
    color: var(--info-contrast);
    background: var(--info);
  }
  &.on-hold {
    color: var(--warning-contrast);
    background: var(--warning);
  }
  &.refunded {
    color: var(--danger-contrast);
    background: var(--danger);
  }
  &.failed {
    color: var(--danger-contrast);
    background: var(--danger);
  }
  &.cancelled {
    color: var(--danger-contrast);
    background: var(--danger);
  }
}
