.app-badge {
  display: inline-block;
  padding: 6px 16px;
  font-size: 12px;
  border-radius: 15px;
  &.pending {
    color: var(--warning-shade);
    background: var(--warning-tint);
  }
  &.completed {
    color: var(--success-contrast);
    background: var(--success);
  }
  &.processing {
    color: var(--success-shade);
    background: var(--success-tint);
  }
  &.on-hold {
    color: var(--warning-shade);
    background: var(--warning-tint);
  }
  &.refunded {
    color: var(--danger-shade);
    background: var(--danger-tint);
  }
  &.failed {
    color: var(--danger-shade);
    background: var(--danger-tint);
  }
  &.cancelled {
        color: var(--danger-contrast);
    background: var(--danger); 
  }
}
