.app-badge {
  display: inline-block;
  padding: 6px 8px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 15px;
  line-height: 1;
  &.active {
    color: var(--info);
    background: var(--info-tint);
  }
  &.processing {
    color: var(--info-contrast);
    background: var(--info);
  }
  &.pending {
    color: var(--warning);
    background: var(--warning-tint);
  }
  &.completed {
    color: var(--success-contrast);
    background: var(--success);
  }
  &.cancelled {
    color: var(--danger-contrast);
    background: var(--danger);
  }
}
