.app-modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 24, 39, 0.502);
  z-index: 99; 
  &-bottom {
    &.opened {
      .app-modal__container {
        transform: translateY(0);
      }
    }
    .app-modal__container {
      position: absolute;
      border-radius: 30px 30px 0 0;
      width: 100%;
      right: 0;
      left: 0;
      bottom: 0;
      padding: 0px 15px 112px;
      background-color: var(--white);
      transform: translateY(100%);
      transition: transform 0.3s ease-in-out;
    }
  }
}