.app-topbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: var(--bg-white);
  &.fixed {
    position: fixed;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    &-left {
      flex: 1;
      display: flex;
      align-items: center;
      margin-right: 8px;
    }
    &-right {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .app-avatar {
    width: 30px;
    height: 30px;
  }
  .back-home {
    display: inline-flex;
    align-items: center;
    h1 {
      margin-bottom: 0;
      margin-left: 12px;
    }
  }
} 