.dark-theme {
  /* Black */
  --black: #fff;

  /* Dark */
  --dark: #d7d7d7;

  /* Medium */
  --medium: #bbbbbb;

  /* Light */
  --light: #384047;

  /* Grey */
  --grey: #6b737b;

  /* White */
  --white: #2b343b;

  /* Text Color */
  --text-color: #9ea7b8;

  /* bg Grey */
  --bg-grey: #3e454b;

      --bg-grey-2: #43494e;
      
  /* White */
  --bg-white: #1e272e;

  .app-accordion ul li .head::after {
    filter: invert(1);
  }
}

 