html[lang="ar"],
html[dir="rtl"] {
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    font-weight: 700;
  }
}

html[dir="rtl"] {
  .fadeLeft-enter-from,
  .fadeLeft-leave-to {
    opacity: 0;
    transform: translateX(20px);
  }

  .btn .app-icon {
    margin-left: 10px;
    margin-right: 0;
  }
  .app-file label svg {
    margin-left: 15px;
    margin-right: 0;
  }
  .app-home-page .user-area svg {
    margin-left: 10px;
    margin-right: 0;
  }
  .order-item .order-meta svg,
  .my-order-item .order-meta svg,
  .app-order-details .order-meta svg,
  .report-item .report-meta > span .app-icon,
  .app-report-details .report-meta svg {
    margin-right: 0;
    margin-left: 5px;
  }
  .order-item .order-meta > span:not(:first-child),
  .order-item-placeholder .order-meta > span:not(:first-child),
  .my-order-item .order-meta > span:not(:first-child),
  .my-order-item-placeholder .order-meta > span:not(:first-child),
  .report-item .report-meta > span:not(:first-child),
  .report-item-placeholder .report-meta > span:not(:first-child) {
    margin-left: 0;
    margin-right: 10px;
  }
 
  .app-topbar__wrapper-left {
    margin-left: 8px;

    margin-right: 0;
  } 
  .arrow-left.app-icon,
  .angle-right.app-icon {
    transform: rotate(-180deg);
  }
  .my-order-item .item-wrap {
    margin-left: 15px;
    margin-right: 0;
  }
  .my-order-item-placeholder .item-wrap {
    margin-left: 25px;
    margin-right: 0;
  }
  .app-fillter button:not(:last-child) {
    margin-right: 0;
    margin-left: 15px;
  }
  .app-user-info .app-user-content {
    margin-left: 0;
    margin-right: 15px;
  }
  .app-menu-profile li .item-icon,
  .app-box-file img {
    margin-right: 0;
    margin-left: 15px;
  }
  .app-select::after {
    transform: translateY(-50%) rotate(-45deg);
    left: 10px;
    right: auto;
  }
  .btn .spinner-border {
    margin-right: 0;
    margin-left: 10px;
  }
  .app-field_icon {
    left: auto;
    right: 0;
  }
  .app-field.field-icon input {
    padding-left: 0;
    padding-right: 34px;
  }
  .app-field_input input.is-valid,
  .app-field_input input.is-invalid {
    background-position: left calc(0.375em + 0.1875rem) center;
  }
  .app-field_input textarea.is-valid,
  .app-field_input textarea.is-invalid {
    background-position: left calc(0.375em + 0.1875rem) top 8px;
  }
  .app-checkbox {
    padding-right: 24px;
    padding-left: 0;
  }
  .app-checkbox .checkmark {
    right: 0;
    left: auto;
  }
  .page-item:first-child .page-link {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .page-item:last-child .page-link {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
