.app-page-auth {
  .app-topbar,
  .app-content {
    background-color: var(--bg-grey);
  }
  .app-content {
    padding-bottom: 20px;
    h1 {
      text-align: center;
      margin-bottom: 25px;
    }
    p {
      text-align: center;
      margin-top: 25px;
      a {
        color: var(--primary);
      }
    }
  }
  .app-logo {
    text-align: center; 
    margin-bottom: 15px;
    img {
      max-width: 80px;
    }
  }
}
