.app-order-details { 
  .order-meta { 
    margin-bottom: 15px;
    > span {
      color: var(--dark);
      vertical-align: middle;
      &:not(:first-child) {
        margin-right: 10px;
      }
    }
    svg {
      width: auto;
      height: 10px;
      vertical-align: middle;
      margin-right: 5px;
      fill: var(--primary);
    }
  }
  .order-details {
    li {
      display: flex;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      strong {
        padding-left: 5px;
        flex: 0 0 50%;
      }
      p {
        margin: 0;
      }
    }
  }
  .order-content {
    strong {
      margin-bottom: 10px;
      display: block;
    }
  }
}