.app-order-details {
  .order-meta {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    > span {
      color: var(--dark);
      vertical-align: middle;
      &:not(:first-child) {
        margin-right: 10px;
      }
    }
    svg {
      width: auto;
      height: 10px;
      vertical-align: middle;
      margin-right: 5px;
      fill: var(--primary);
    }
  }
  .order-details {
    li {
      display: flex;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      strong {
        padding-left: 5px;
        flex: 0 0 50%;
      }
      p {
        margin: 0;
      }
    }
  }
  .order-content {
    strong {
      margin-bottom: 10px;
      display: block;
    }
  }
  .order-offers {
    li {
      background: var(--bg-grey-2);
      border-radius: 5px;
      padding: 12px;
      margin-bottom: 8px;
    }
    .offer_top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    .offer_right {
      display: flex;
      .app-avatar {
        width: 35px;
        height: 35px;
        margin-left: 10px;
      }
      h4 {
        color: var(--black);
        margin-bottom: 2px;
      }
      .offer-meta {
        .offer-date {
          font-size: 11px;
          color: var(--medium);
        }
        .offer-price {
          color: var(--primary);
          &::before {
            content: " / ";
            color: var(--medium);
            margin-right: 6px;
            padding-left: 6px;
          }
        }
      }
     
    }
     .offer-details {
        color: var(--black);
        margin-bottom: 0;
      }
  }
}
