.order-item {
  border-radius: 5px;
  box-shadow: 0 2px 4px var(--grey);
  padding: 10px;
  margin-bottom: 12px;
  background: var(--light);
  .order-meta {
    display: flex;
    align-items: center;
    font-size: 12px;
    > span {
      color: var(--dark);
      vertical-align: middle;
      &:not(:first-child) {
        margin-left: 10px;
      }
    }
    svg {
      width: auto;
      height: 10px;
      vertical-align: middle;
      margin-right: 5px;
      fill: var(--primary);
    }
  }
  .order-bottom {
    display: flex;
    justify-content: space-between;
  }
}

.my-order-item {
  padding-bottom: 10px;
  margin-bottom: 12px;
  border-bottom: 1px solid var(--grey);
  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1;
  }
  .app-icon{
    color: var(--medium);
    svg {
      width: 14px; 
    }
  }
  .item-wrap {
    flex-grow: 1;
    margin-right: 15px;
  }
  .order-meta {
    font-size: 0.75rem;
    > span {
      color: var(--dark);
      vertical-align: middle;
      &:not(:first-child) {
        margin-left: 10px;
      }
    }
    svg {
      width: auto;
      height: 10px;
      vertical-align: middle;
      margin-right: 5px;
      fill: var(--primary);
    }
  }
}

