.app-section {
  margin-bottom: 20px;
  &-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
    h2 {
      margin-bottom: 0;
      font-weight: 500;
      span{
   color: var(--medium);
    font-size: 0.875rem;
      }
    }
    a {
      font-size: 0.8125rem;
      color: var(--dark);
    }
  } 
}
